<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Home</title>
<link href="/styles/style.css" rel="stylesheet">
<!-- <link rel="icon" type="image/png" th:href="@{/asset/images/favicon-32x32.png}">
 -->
</head>
<body>
	<div>
		<h1>Home</h1>
	</div>
	<nav>
		<ul>
			<!-- <li><a href="/">home</a></li> -->
			<!-- <li><a href="/user-list">user-list</a></li> -->
			<!-- <li><a href="/session-list">session-list</a></li> -->
			<!-- <li><a href="/setup-list">setup-list</a></li> -->
			<li><a href="/car-list">car-list</a></li>
			<li><a href="/track-list">track-list</a></li>
			<li><a href="/weather-list">weather-list</a></li>
			<li><a href="/condition-list">condition-list</a></li>
			
		</ul>
	</nav>
</body>
</html>