<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Home</title>
<link href="/styles/style.css" rel="stylesheet">
</head>
<body>
	<div>
		<h1>Home</h1>
	</div>
	<nav>
		<ul>
			<!-- <li><a href="/">home</a></li> -->
			<!-- <li><a href="/user-list">user-list</a></li> -->
			<!-- <li><a href="/session-list">session-list</a></li> -->
			<!-- <li><a href="/setup-drawer">setup-list</a></li> -->
			<li><a href="/car-list">car-list</a></li>
			<!-- <li><a href="/track-drawer">track-list</a></li> -->
			<!-- <li><a href="/weather-drawer">weather-list</a></li> -->
			
		</ul>
	</nav>
</body>
</html>