<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>car-list</title>
<link href="/styles/style.css" rel="stylesheet">
</head>
<body>
	<div>
		<h1>car-list</h1>
	</div>
	<nav>
		<ul>
			<li><a href="/">home</a></li>
		</ul>
	</nav>
	<div class="container-cars">
	    <div class="car" th:each="car : ${cars}">
            <div th:text="${car.carId}">I display the car ID</div>
            <div th:text="${car.carName}">I display the car name</div>
	    </div>
	</div>
	
</body>
</html>